html, body {
	height: 100%;
	height: 400vh;
	scroll-behavior: smooth;

	/*background: linear-gradient(180deg, #FFFFFF 50%, #000000 50%);*/
	background-color: white;
}

#home, #about-header, #about-body, 
#skills-header, #skills-body, 
#work-header , #work-body {
	width: 100vw;
	font-family: 'Monsterrat';

	background-repeat: no-repeat; 
}

/*//////////////////////////////////////////////////////////////////////////////////////////*/

#wtf {
	display: none;
	background-color: lightgrey !important;
}

#wtf a {
	color: #07233d !important;
}

/*//////////////////////////////////////////////////////////////////////////////////////////*/

#home {
	height: 120vh;
	color: white;
	background-position: 76% 0vh;
	background-size: 300vw 120vh;
	font-family: "Ubuntu";
	background-image: url('pictures/room2.jpg');

	clip-path: ellipse(145% 58% at 50% 30%);
}

.home-bar {
	font-family: 'Oswald';
	letter-spacing: 3px;
	background-color: rgba(0,0,0,0.2);
}

#home, #home .container, #home .row, .home-title {
	width: 100vw;
	margin: 0 0 0 0;
}

.home-title .display-4 {
	font-size: 60px;
}

.home-bar {
	height: 8vh;
	font-size: 20px;
	background-color: rgba(0,0,0,0.25);
}

#small-bar {
	width: 100vw;
}

#small-bar button {
	border: none;
	outline: none;
	width: 100%;
}

@media (max-width: 767px) {
	.home-bar {
		display: none !important;
	}
	#small-bar {
		display: block;
	}
}

@media (min-width: 768px) {
	#home {
		background-position: 70% 0%;
		background-size: 186vw 120vh;
	}
	.home-bar {
		display: block;
	}
	#small-bar {
		display: none;
	}
}

@media (min-width: 1024px) {
	#home {
		background-position: 50% 0%;
		background-size: 140vw 120vh;
	}
	.home-bar {
		background-color: rgba(0,0,0,0);
	}
}

@media (min-width: 1440px) {
	#home {
		background-position: 50% 0%;
		background-size: 100vw 120vh;
	}
}

/*//////////////////////////////////////////////////////////////////////////////////////////*/

#about-header {
	
}

#about-body {
	height: 70vh;
	width: 100vw;
	color: white;

	/*background-color: #07233d;*/

	background-repeat: no-repeat; 
	background-size: 100vw 85vh; 
	/*background-position: center center;*/
	background-position: 50% 70%;
	background-image: url('pictures/pencil.jpg');

	/*clip-path: ellipse(142% 50% at 50% 50%);*/
}

#about-me-para {
	width: 100vw;
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	/*z-index: -1;*/
	text-align: center;
	position: absolute;
	margin-top: 8%;
}

.slash {
	color: green;
}

/*//////////////////////////////////////////////////////////////////////////////////////////*/

#skills-header {
	color: white; 
}

#skills-header, #about-header {
	height: 50vh;
	width: 100vw;
	/*border: 2px solid orange;*/
}

#particles, #particles-js {
	width: 100vw;
	height: 50%;
	z-index: 0;
	position: absolute;
	/*border: 2px solid black; */
}

.skills-title h1, .about-title h1 {
	text-align: center;
	margin-top: 30%;
}

#skills-body {
	height: 80vh;
	width: 100vw;
	color: white;

	/*background-color: #07233d;*/

	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center center;
	background-position: 120% 70%;
	background-image: url('pictures/screen.jpg');

	clip-path: ellipse(155% 63% at 50% 64%);
}

/*//////////////////////////////////////////////////////////////////////////////////////////*/

#work-header {

}

#work-body {
	width: 100vw;
	height: 100vh;

	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center center;
	background-position: 120% 70%;
	background-image: url('pictures/lamps.jpg');
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 768px) {

	/********** HOME *********/
	.title-out {
		margin-top: 15%;
	}
	.title-in {
		margin-left: 33.5%;
	}
	/********** ABOUT *********/
	#about-header {
		margin-top: 0%;
	}
	#about-me-para {
		font-size: 18px;
		/*text-align: justify;*/
		width: 31vw;
		margin-top: 13%;
		margin-left: 3%;
	}
	.card {
		width: 470px;
		height: 462px;
		margin-left: 2%;
		margin-top: 11%;
		float: left;
	}
	.card img {
		height: 460px;
		width: 100%;
	}
	/********** SKILLS *********/
	.skills-title h1, 
	.about-title h1 {
		margin-top: 17%;
	}
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 1024px) {

	/********** HOME *********/
	.title-in {
		margin-left: 36.5%;
	}
	.home-bar {
		height: 100vh;
	}
	#home .navbar-collapse {
		flex-grow: 0;
		margin-top: 30vh;
	}
	/********** ABOUT *********/
	#about-header {
		margin-top: 0;
	}
	#about-me-para {
		width: 50vw;
		font-size: 20px; 
		margin-left: 25%;
		margin-top: 5%;
	}
	/********** SKILLS *********/
	.skills-title h1, .about-title h1 {
		margin-top: 13%;
	}
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 1440px) {

	/********** HOME *********/
	.title-out {
		margin-top: 12%;
	}
	.title-in {
		margin-left: 41%;
	}
	/********** ABOUT *********/
	#about-header {
		margin-top: -12%;
	}
	#about-me-para {
		width: 50vw;
		font-size: 25px; 
		margin-left: 25%;
		margin-top: 6%;
	}
	/********** SKILLS *********/
	.skills-title h1, .about-title h1 {
		margin-top: 10%;
	}
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 1600px) {

	/********** HOME *********/
	.home-title img { /* Screen Icon */
		margin-left: -164px;
	}
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 1900px) {

	/********** HOME *********/
	.title-out {
		margin-left: -3%;
	}
	.home-title img { /* Screen Icon */
		margin-left: -185px;
	}
}
